body {
  background-color: #141414;
}

h1, h2, h3, h4, h5, h6, p, a, button {
  font-family: 'Open Sans', sans-serif;
}

/****************** Login Window *****************/
.loginContainer {
  position: relative;
  margin-top: 11.25rem;
  height: 41.25rem;
  width: 67.69rem;
}

.loginForm {
  position: inherit;
  width: 630px;
  top: 5rem;
  bottom: 5rem;
  padding: 0;
  border-radius: 10px 0 0 10px;
  background-color: #303030;
}

.loginCarousel {
  position: inherit;
  width: 453px;
  height: 660px;
  top: 5rem;
  padding: 0;
}

.loginAlignBox {
  width: 330px;
  display: block;
}

.carouselImg {
  border-radius: 0 10px 10px 0;
}

.orLoginText {
  text-align: center;
  padding-top: 5px;
}

.loginTitle {
  text-align: center;
  color: #FFFFFF;
  font-size: 45px;
  line-height: 61px;
  letter-spacing: 2.8px;
  padding-top: 34px;
  margin-bottom: 25px;
}

.finder {
  font-weight: 800;
  font-size: 45px;
  line-height: 61px;
  letter-spacing: 2.8px;
}

.loginInputs {
  background-color: #303030;
  border-color: #8F8F8F;
  color: #929699;
}

.loginBtnDiv {
  margin-top: 15px;
}

.loginBtn {
  text-align: right;
  padding: 0;
}

.loginBtnStyle {
  background: linear-gradient(180deg, #7CD235 0%, #2BB34F 100%);
  border-radius: 8px;
  height: 40px;
  width: 100px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  border: 0;
}

.loginBtnStyle:hover {
  background: linear-gradient(180deg, #2BB34F 0%, #7CD235 100%);
}

.loginBtnStyle:focus, .loginBtnStyle:active {
  border: 2px;
  border-color: #7CD235;
  box-shadow: none;
}

.loginIconField {
  height: 52px;
  width: 52px;
}

.loginInputField {
  width: 330px;
  position: inherit;
  padding-bottom: 32px;
}

.loginPasswordField, .loginPasswordField:focus, .loginPasswordField:active {
  border-right: none;
  background-color: #303030;
  box-shadow: none;
}

.loginInputs:focus, .loginInputs:active {
  background-color: #303030;
  box-shadow: none;
  color: #fafafa;
  border-color: #8F8F8F;
}

.loginIcon {
  color: #D1D1D1;
  background-color: #303030;
  width: 20px;
}

.passwordEye {
  background-color: #303030;
  border-left: none;
  border-color: #8F8F8F;
}

.eyeColor {
  color: #D1D1D1;
}

.formCheck {
  background-color: #303030;
  border: 1px solid #8F8F8F;
  border-radius: 4px;
}

.formCheck:checked {
  background-color: #7CD235;
  border-color: #8F8F8F;
}

.formCheck:focus {
  box-shadow: none;
  border-color: #8F8F8F;
}

.rememberMeDiv {
  padding-top: 7px;
}

.rememberMe {
  font-size: 14px;
  line-height: 19px;
  color: #929699;
}

.RegisterNowDiv {
  margin-top: 10px;
}

.registerNow {
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
}

.registerNow:hover {
  color: #8F8F8F;
}

.forgotPassword {
  font-size: 14px;
  line-height: 19px;
  text-align: right;
  color: #FFFFFF;
}

.forgotPassword:hover {
  color: #8F8F8F;
}

.forgotPasswordDiv {
  text-align: right;
}

.orDiv {
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  margin-top: 21px;
}

.social {
  text-align: center;
  margin-top: 10px;
}

.socialBtn {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  height: 40px;
  width: 193.45px;
  border-radius: 0 8px 8px 0;
  border: 0;
}

.socialBtn:hover, .socialBtn:focus, .socialBtn:active {
  background: linear-gradient(180deg, #7CD235 0%, #2BB34F 100%);
  ;
}

.socialIconBox {
  height: 40px;
  width: 46.45px;
  border-radius: 8px 0 0 8px;
  border: 0;
}

.socialIconBox:hover, .socialIconBox:focus, .socialIconBox:active {
  background: linear-gradient(180deg, #7CD235 0%, #2BB34F 100%);
  ;
}

.socialIcon {
  width: 20px;
  height: auto;
}

.btn-group {
  padding-bottom: 24px;
}

.BtnFacebook1 {
  background-color: #263C68;
}

.BtnFacebook2 {
  background-color: #3B5998;
  ;
}

.BtnTwitter1 {
  background-color: #0695CB;
}

.BtnTwitter2 {
  background-color: #00ACED;
}

.BtnGoogle1 {
  background-color: #9D9D9D;
}

.BtnGoogle2 {
  background-color: #C7C7C7;
}

.btnCarousel {
  height: 7px !important;
  width: 7px !important;
  border-radius: 100%;
}

/************************************** Responsive Login ***********************************/
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .loginCarousel {
    visibility: hidden;
    width: 1px;
  }

  .loginForm {
    width: 80%;
    background-color: #141414;
  }

  .loginContainer {
    padding: 0;
    margin-top: 11px;
    width: 320px;
  }

  .loginTitle {
    font-size: 35px;
    line-height: 48px;
    margin-bottom: 38px;
  }

  .loginInputField {
    width: 240px;
    position: inherit;
    padding-bottom: 32px;
  }

  .loginAlignBox {
    width: 240px;
  }

  .rememberMeDiv {
    padding-right: 0;
  }

  .loginRow {
    width: 320px;
    margin: 0;
  }
}
